
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `coursier_local` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */;

USE `coursier_local`;
DROP TABLE IF EXISTS `account_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` enum('credit','debit') NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `coursier_id` (`coursier_id`),
  CONSTRAINT `account_history_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `coursiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `admin_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_actions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` varchar(50) NOT NULL,
  `action_type` varchar(50) NOT NULL,
  `target_id` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_admin` (`admin_id`),
  KEY `idx_action` (`action_type`),
  KEY `idx_date` (`date_creation`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `admin_audit_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_audit_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `timestamp` timestamp(6) NULL DEFAULT current_timestamp(6),
  `admin_id` int(11) DEFAULT NULL,
  `admin_username` varchar(50) DEFAULT NULL,
  `action_type` enum('create','read','update','delete','login','logout') NOT NULL,
  `target_table` varchar(50) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  `changes_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`changes_json`)),
  `interface_source` enum('admin','business','coursier','concierge','recrutement') NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_admin` (`admin_id`),
  KEY `idx_action` (`action_type`),
  KEY `idx_interface` (`interface_source`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `admin_chat_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_chat_status` (
  `id` int(11) NOT NULL DEFAULT 1,
  `is_online` tinyint(1) DEFAULT 0,
  `last_seen` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `agent_chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_chats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(255) NOT NULL,
  `agent_matricule` varchar(50) DEFAULT NULL,
  `agent_name` varchar(255) DEFAULT NULL,
  `agent_phone` varchar(50) DEFAULT NULL,
  `agent_type` varchar(100) DEFAULT NULL,
  `device_info` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`device_info`)),
  `is_blocked` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `last_activity` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `chat_id` (`chat_id`),
  KEY `idx_agent_chats_activity` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `agent_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `sender_type` enum('agent','admin') NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `chat_id` (`chat_id`),
  KEY `idx_agent_messages_read` (`is_read`,`sender_type`),
  CONSTRAINT `agent_messages_ibfk_1` FOREIGN KEY (`chat_id`) REFERENCES `agent_chats` (`chat_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `agents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `role` enum('agent','superviseur','admin') DEFAULT 'agent',
  `specialite` enum('support_client','support_business','technique','commercial') DEFAULT 'support_client',
  `statut` enum('actif','inactif') DEFAULT 'actif',
  `en_ligne` tinyint(1) DEFAULT 0,
  `password_hash` varchar(255) NOT NULL,
  `derniere_connexion` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_statut` (`statut`),
  KEY `idx_en_ligne` (`en_ligne`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `agents_suzosky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agents_suzosky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matricule` varchar(20) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `prenoms` varchar(100) NOT NULL,
  `date_naissance` date NOT NULL,
  `lieu_naissance` varchar(100) NOT NULL,
  `type_poste` enum('chauffeur','coursier_moto','coursier_cargo','agent_conciergerie') NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `piece_identite` enum('cni','passeport') NOT NULL,
  `numero_piece` varchar(50) NOT NULL,
  `contact_urgence_nom` varchar(100) NOT NULL,
  `contact_urgence_tel` varchar(20) NOT NULL,
  `contact_urgence_residence` varchar(200) NOT NULL,
  `status` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `shipday_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `password` varchar(255) DEFAULT NULL COMMENT 'Mot de passe hash??',
  `password_plain` varchar(50) DEFAULT NULL COMMENT 'Mot de passe en clair (temporaire)',
  `first_login_done` tinyint(1) DEFAULT 0 COMMENT 'Premier login effectu??',
  `password_changed_at` timestamp NULL DEFAULT NULL COMMENT 'Date dernier changement mot de passe',
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Date mise ?? jour',
  `plain_password` varchar(5) NOT NULL DEFAULT '',
  `nationalite` varchar(100) DEFAULT NULL,
  `lieu_residence` varchar(150) DEFAULT NULL,
  `cni` varchar(100) DEFAULT NULL,
  `permis` varchar(100) DEFAULT NULL,
  `urgence_nom` varchar(100) DEFAULT NULL,
  `urgence_prenoms` varchar(100) DEFAULT NULL,
  `urgence_lien` varchar(100) DEFAULT NULL,
  `urgence_lieu_residence` varchar(150) DEFAULT NULL,
  `urgence_telephone` varchar(30) DEFAULT NULL,
  `current_session_token` varchar(100) DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `last_login_ip` varchar(64) DEFAULT NULL,
  `last_login_user_agent` varchar(255) DEFAULT NULL,
  `solde_wallet` decimal(10,2) DEFAULT 0.00 COMMENT 'Solde du portefeuille',
  `statut_connexion` enum('en_ligne','hors_ligne') DEFAULT 'hors_ligne',
  `connexion_source` varchar(50) DEFAULT NULL,
  `connexion_source_details` varchar(255) DEFAULT NULL,
  `connexion_last_seen_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matricule` (`matricule`),
  UNIQUE KEY `uniq_telephone` (`telephone`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `agents_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agents_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matricule` varchar(20) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `prenoms` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `type_poste` enum('coursier','chauffeur','agent_call_center','superviseur','livreur') NOT NULL,
  `statut` enum('actif','inactif','suspendu','en_attente') DEFAULT 'en_attente',
  `password_hash` varchar(255) NOT NULL,
  `password_plain` varchar(10) NOT NULL COMMENT 'Mot de passe visible pour admin',
  `adresse` text DEFAULT NULL,
  `ville` varchar(50) DEFAULT 'Abidjan',
  `zone_travail` varchar(100) DEFAULT NULL,
  `date_embauche` date NOT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  `date_modification` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(50) DEFAULT 'system',
  `notes_admin` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matricule` (`matricule`),
  KEY `idx_matricule` (`matricule`),
  KEY `idx_type_statut` (`type_poste`,`statut`),
  KEY `idx_telephone` (`telephone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_crashes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_crashes` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(128) NOT NULL,
  `crash_hash` varchar(64) NOT NULL COMMENT 'Hash unique pour groupement',
  `app_version_code` int(11) NOT NULL,
  `android_version` varchar(20) DEFAULT NULL,
  `device_model` varchar(100) DEFAULT NULL,
  `crash_type` varchar(50) NOT NULL COMMENT 'EXCEPTION, ANR, NATIVE_CRASH',
  `exception_class` varchar(255) DEFAULT NULL,
  `exception_message` text DEFAULT NULL,
  `stack_trace` longtext DEFAULT NULL,
  `screen_name` varchar(100) DEFAULT NULL,
  `user_action` varchar(255) DEFAULT NULL,
  `memory_usage` int(11) DEFAULT NULL COMMENT 'MB',
  `battery_level` int(3) DEFAULT NULL COMMENT '0-100',
  `network_type` varchar(20) DEFAULT NULL,
  `is_resolved` tinyint(1) NOT NULL DEFAULT 0,
  `occurrence_count` int(11) unsigned NOT NULL DEFAULT 1,
  `first_occurred` datetime NOT NULL DEFAULT current_timestamp(),
  `last_occurred` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_device` (`device_id`),
  KEY `idx_crash_hash` (`crash_hash`),
  KEY `idx_version` (`app_version_code`),
  KEY `idx_type` (`crash_type`),
  KEY `idx_resolved` (`is_resolved`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_devices` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(128) NOT NULL COMMENT 'Android ID ou UUID g??n??r??',
  `courier_id` int(11) unsigned DEFAULT NULL COMMENT 'ID du coursier si connect??',
  `device_model` varchar(100) DEFAULT NULL COMMENT 'Mod??le appareil',
  `device_brand` varchar(50) DEFAULT NULL COMMENT 'Marque appareil',
  `android_version` varchar(20) DEFAULT NULL COMMENT 'Version Android',
  `app_version_code` int(11) NOT NULL DEFAULT 1 COMMENT 'Code version app',
  `app_version_name` varchar(20) NOT NULL DEFAULT '1.0' COMMENT 'Nom version',
  `first_install` datetime NOT NULL DEFAULT current_timestamp(),
  `last_seen` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `total_sessions` int(11) unsigned NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_device` (`device_id`),
  KEY `idx_courier` (`courier_id`),
  KEY `idx_version` (`app_version_code`),
  KEY `idx_last_seen` (`last_seen`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_events` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(128) NOT NULL,
  `event_type` varchar(50) NOT NULL COMMENT 'APP_START, SCREEN_VIEW, FEATURE_USE',
  `event_name` varchar(100) NOT NULL,
  `screen_name` varchar(100) DEFAULT NULL,
  `event_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`event_data`)),
  `session_id` varchar(64) DEFAULT NULL,
  `occurred_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_device` (`device_id`),
  KEY `idx_event_type` (`event_type`),
  KEY `idx_occurred` (`occurred_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_notifications` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(128) DEFAULT NULL COMMENT 'NULL = broadcast',
  `notification_type` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `action_url` varchar(500) DEFAULT NULL,
  `priority` enum('LOW','NORMAL','HIGH','URGENT') NOT NULL DEFAULT 'NORMAL',
  `sent_at` datetime DEFAULT NULL,
  `delivered_at` datetime DEFAULT NULL,
  `clicked_at` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_device` (`device_id`),
  KEY `idx_type` (`notification_type`),
  KEY `idx_sent` (`sent_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_sessions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(128) NOT NULL,
  `session_id` varchar(64) NOT NULL COMMENT 'UUID unique',
  `started_at` datetime NOT NULL DEFAULT current_timestamp(),
  `ended_at` datetime DEFAULT NULL,
  `duration_seconds` int(11) unsigned DEFAULT NULL,
  `screens_visited` int(11) unsigned NOT NULL DEFAULT 0,
  `actions_performed` int(11) unsigned NOT NULL DEFAULT 0,
  `crashed` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_session` (`session_id`),
  KEY `idx_device` (`device_id`),
  KEY `idx_started` (`started_at`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `app_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `app_versions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `version_code` int(11) NOT NULL COMMENT 'Code version num??rique',
  `version_name` varchar(20) NOT NULL COMMENT 'Version lisible',
  `apk_filename` varchar(255) NOT NULL COMMENT 'Nom fichier APK',
  `apk_size` bigint(20) unsigned NOT NULL COMMENT 'Taille en bytes',
  `min_android_version` int(11) NOT NULL DEFAULT 24,
  `release_notes` text DEFAULT NULL COMMENT 'Notes de version',
  `is_mandatory` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `uploaded_at` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_version_code` (`version_code`),
  KEY `idx_version_name` (`version_name`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `bonus_penalites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bonus_penalites` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `montant` decimal(8,2) NOT NULL,
  `type` enum('bonus','penalite') NOT NULL,
  `categorie` enum('performance','rapidite','satisfaction','volume','retard','annulation','note_faible','manuel') NOT NULL,
  `description` text DEFAULT NULL,
  `commande_id` int(11) DEFAULT NULL,
  `periode_reference` varchar(20) DEFAULT NULL,
  `applique` tinyint(1) DEFAULT 0,
  `approuve_par` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_type` (`type`),
  KEY `idx_periode` (`periode_reference`),
  KEY `idx_applique` (`applique`),
  KEY `commande_id` (`commande_id`),
  KEY `approuve_par` (`approuve_par`),
  CONSTRAINT `bonus_penalites_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `coursiers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bonus_penalites_ibfk_2` FOREIGN KEY (`commande_id`) REFERENCES `commandes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `bonus_penalites_ibfk_3` FOREIGN KEY (`approuve_par`) REFERENCES `agents` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `business_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `business_clients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_business` int(11) DEFAULT NULL,
  `nom_entreprise` varchar(200) NOT NULL,
  `contact_nom` varchar(100) NOT NULL,
  `contact_email` varchar(150) NOT NULL,
  `contact_telephone` varchar(20) DEFAULT NULL,
  `secteur_activite` varchar(100) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  `date_upload` timestamp NULL DEFAULT NULL,
  `statut` enum('actif','inactif','en_attente') DEFAULT 'actif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_business` (`id_business`),
  KEY `idx_nom_entreprise` (`nom_entreprise`),
  KEY `idx_email` (`contact_email`),
  KEY `idx_date_creation` (`date_creation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `candidatures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatures` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `poste_id` int(11) DEFAULT NULL,
  `offre_id` int(11) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `cv_url` varchar(255) DEFAULT NULL,
  `lettre_motivation` text DEFAULT NULL,
  `statut` enum('nouvelle','en_cours','acceptee','refusee','archivee') DEFAULT 'nouvelle',
  `notes_rh` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_offre` (`offre_id`),
  KEY `idx_statut` (`statut`),
  KEY `idx_telephone` (`telephone`),
  CONSTRAINT `candidatures_ibfk_1` FOREIGN KEY (`offre_id`) REFERENCES `offres_emploi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `candidatures_suzosky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatures_suzosky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenoms` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `poste_souhaite` enum('chauffeur','coursier_moto','coursier_cargo','agent_conciergerie') NOT NULL,
  `experience` text DEFAULT NULL,
  `cv_path` varchar(255) DEFAULT NULL,
  `status` enum('en_attente','accepte','refuse') DEFAULT 'en_attente',
  `date_candidature` timestamp NULL DEFAULT current_timestamp(),
  `date_traitement` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) NOT NULL,
  `display_name` varchar(100) NOT NULL,
  `status` enum('online','offline','busy','away') DEFAULT 'offline',
  `max_concurrent_chats` int(11) DEFAULT 5,
  `current_active_chats` int(11) DEFAULT 0,
  `auto_assign` tinyint(1) DEFAULT 1,
  `last_activity` timestamp NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_admin` (`admin_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_blocked_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_blocked_devices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `device_identifier` varchar(100) NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `blocked_reason` text NOT NULL,
  `blocked_by` int(11) NOT NULL,
  `blocked_at` timestamp NULL DEFAULT current_timestamp(),
  `is_permanent` tinyint(1) DEFAULT 0,
  `unblocked_at` timestamp NULL DEFAULT NULL,
  `unblocked_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_device` (`device_identifier`),
  KEY `idx_ip` (`ip_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_conversations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(20) NOT NULL DEFAULT 'particulier',
  `client_id` int(11) NOT NULL,
  `last_message` text DEFAULT '',
  `last_timestamp` datetime DEFAULT current_timestamp(),
  `unread_count` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_type` (`type`),
  KEY `idx_client_id` (`client_id`),
  KEY `idx_last_timestamp` (`last_timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `conversation_id` int(11) NOT NULL,
  `sender_type` varchar(20) NOT NULL DEFAULT 'client',
  `sender_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `timestamp` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_conversation_id` (`conversation_id`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_sender` (`sender_type`,`sender_id`),
  CONSTRAINT `fk_chat_messages_conversation` FOREIGN KEY (`conversation_id`) REFERENCES `chat_conversations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_messages_suzosky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages_suzosky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `sender` enum('client','admin') NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `user_type` enum('client','admin') DEFAULT 'client',
  PRIMARY KEY (`id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(100) NOT NULL,
  `message_preview` varchar(100) NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_read` (`is_read`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_quick_replies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_quick_replies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `category` enum('greeting','closing','info','escalation','custom') DEFAULT 'custom',
  `is_active` tinyint(1) DEFAULT 1,
  `usage_count` int(11) DEFAULT 0,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=187 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(50) NOT NULL,
  `client_name` varchar(100) DEFAULT NULL,
  `client_email` varchar(150) DEFAULT NULL,
  `client_phone` varchar(20) DEFAULT NULL,
  `client_ip` varchar(45) NOT NULL,
  `client_location` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`client_location`)),
  `device_identifier` varchar(100) NOT NULL,
  `assigned_admin` int(11) DEFAULT NULL,
  `status` enum('waiting','active','closed','blocked') DEFAULT 'waiting',
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_message_at` timestamp NULL DEFAULT current_timestamp(),
  `is_blocked` tinyint(1) DEFAULT 0,
  `blocked_reason` text DEFAULT NULL,
  `blocked_by` int(11) DEFAULT NULL,
  `blocked_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`),
  UNIQUE KEY `device_identifier` (`device_identifier`),
  KEY `idx_status` (`status`),
  KEY `idx_device` (`device_identifier`),
  KEY `idx_created` (`created_at`),
  KEY `idx_priority` (`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `chat_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(50) NOT NULL,
  `type_chat` enum('client_admin','coursier_admin','agent_admin','business_admin') NOT NULL,
  `sender_type` enum('admin','client','coursier','agent','business') NOT NULL,
  `sender_id` int(11) DEFAULT NULL,
  `sender_name` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `message_type` enum('text','file','image','system') DEFAULT 'text',
  `is_read` tinyint(1) DEFAULT 0,
  `timestamp` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_chat` (`chat_id`),
  KEY `idx_type` (`type_chat`),
  KEY `idx_unread` (`is_read`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `balance` decimal(10,2) DEFAULT 0.00 COMMENT 'Solde client',
  `type_client` enum('client','coursier','admin') DEFAULT 'client',
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  KEY `idx_telephone` (`telephone`)
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clients_business`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients_business` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom_entreprise` varchar(150) NOT NULL,
  `contact_nom` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `adresse` text DEFAULT NULL,
  `type_compte` enum('standard','premium','enterprise') DEFAULT 'standard',
  `credit_limite` decimal(10,2) DEFAULT 0.00,
  `credit_utilise` decimal(10,2) DEFAULT 0.00,
  `password_hash` varchar(255) NOT NULL,
  `statut` enum('actif','suspendu','inactif') DEFAULT 'actif',
  `date_inscription` timestamp NULL DEFAULT current_timestamp(),
  `derniere_connexion` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_telephone` (`telephone`),
  KEY `idx_statut` (`statut`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clients_business_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients_business_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom_entreprise` varchar(200) NOT NULL,
  `contact_nom` varchar(100) NOT NULL,
  `contact_telephone` varchar(20) NOT NULL,
  `contact_email` varchar(150) DEFAULT NULL,
  `adresse_complete` text NOT NULL,
  `ville` varchar(50) DEFAULT 'Abidjan',
  `secteur_activite` varchar(100) DEFAULT NULL,
  `type_client` enum('particulier','entreprise','partenaire') DEFAULT 'entreprise',
  `statut` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `date_inscription` timestamp NULL DEFAULT current_timestamp(),
  `derniere_commande` timestamp NULL DEFAULT NULL,
  `total_commandes` int(11) DEFAULT 0,
  `ca_total` decimal(12,2) DEFAULT 0.00,
  `notes_admin` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_telephone` (`contact_telephone`),
  KEY `idx_statut` (`statut`),
  KEY `idx_ville` (`ville`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clients_particuliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients_particuliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenoms` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `current_session_token` varchar(100) DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `last_login_ip` varchar(64) DEFAULT NULL,
  `last_login_user_agent` varchar(255) DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  `date_derniere_commande` timestamp NULL DEFAULT NULL,
  `statut` enum('actif','inactif') DEFAULT 'actif',
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  KEY `idx_telephone` (`telephone`),
  KEY `idx_date_creation` (`date_creation`),
  KEY `idx_statut` (`statut`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `clients_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code_client` varchar(20) DEFAULT NULL,
  `nom_complet` varchar(200) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `adresse_complete` text DEFAULT NULL,
  `ville` varchar(50) DEFAULT 'Abidjan',
  `type_client` enum('particulier','entreprise','business','concierge_client') DEFAULT 'particulier',
  `statut` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `concierge_id` int(11) DEFAULT NULL COMMENT 'ID du concierge assign??',
  `date_inscription` timestamp NULL DEFAULT current_timestamp(),
  `derniere_commande` timestamp NULL DEFAULT NULL,
  `total_commandes` int(11) DEFAULT 0,
  `ca_total` decimal(12,2) DEFAULT 0.00,
  `interface_creation` enum('admin','business','coursier','concierge') NOT NULL,
  `notes_admin` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_client` (`code_client`),
  KEY `idx_telephone` (`telephone`),
  KEY `idx_statut` (`statut`),
  KEY `idx_type` (`type_client`),
  KEY `idx_concierge` (`concierge_id`),
  CONSTRAINT `clients_unified_ibfk_1` FOREIGN KEY (`concierge_id`) REFERENCES `agents_unified` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_number` varchar(50) NOT NULL,
  `code_commande` varchar(20) NOT NULL,
  `client_type` enum('particulier','business') NOT NULL,
  `client_id` int(11) DEFAULT NULL,
  `client_business_id` int(11) DEFAULT NULL,
  `client_nom` varchar(100) DEFAULT NULL,
  `client_telephone` varchar(20) NOT NULL,
  `adresse_retrait` text NOT NULL,
  `latitude_retrait` decimal(10,8) DEFAULT NULL,
  `longitude_retrait` decimal(11,8) DEFAULT NULL,
  `adresse_livraison` text NOT NULL,
  `latitude_livraison` decimal(10,8) DEFAULT NULL,
  `longitude_livraison` decimal(11,8) DEFAULT NULL,
  `description_colis` text DEFAULT NULL,
  `poids_estime` decimal(5,2) DEFAULT NULL,
  `dimensions` varchar(50) DEFAULT NULL,
  `valeur_declaree` decimal(10,2) DEFAULT NULL,
  `fragile` tinyint(1) DEFAULT 0,
  `coursier_id` int(11) DEFAULT NULL,
  `statut` varchar(32) DEFAULT 'nouvelle',
  `priorite` enum('normale','urgente','express') DEFAULT 'normale',
  `heure_souhaitee_retrait` timestamp NULL DEFAULT NULL,
  `heure_souhaitee_livraison` timestamp NULL DEFAULT NULL,
  `heure_acceptation` timestamp NULL DEFAULT NULL,
  `heure_retrait` timestamp NULL DEFAULT NULL,
  `heure_livraison` timestamp NULL DEFAULT NULL,
  `prix_base` decimal(8,2) NOT NULL,
  `frais_supplementaires` decimal(8,2) DEFAULT 0.00,
  `prix_total` decimal(8,2) NOT NULL,
  `mode_paiement` enum('especes','mobile_money','carte_bancaire','wave','credit_business') DEFAULT 'especes',
  `prix_estime` decimal(10,2) NOT NULL DEFAULT 0.00,
  `statut_paiement` enum('attente','paye','echec') DEFAULT 'attente',
  `note_coursier` decimal(3,2) DEFAULT NULL,
  `commentaire_client` text DEFAULT NULL,
  `note_service` decimal(3,2) DEFAULT NULL,
  `annule_par` enum('client','coursier','admin') DEFAULT NULL,
  `raison_annulation` text DEFAULT NULL,
  `distance_estimee` decimal(5,2) DEFAULT NULL,
  `zone_retrait` varchar(50) DEFAULT NULL,
  `zone_livraison` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `expediteur_id` int(11) DEFAULT NULL,
  `destinataire_id` int(11) DEFAULT NULL,
  `adresse_depart` varchar(255) NOT NULL,
  `latitude_depart` decimal(10,7) DEFAULT NULL,
  `longitude_depart` decimal(10,7) DEFAULT NULL,
  `adresse_arrivee` varchar(255) NOT NULL,
  `latitude_arrivee` decimal(10,7) DEFAULT NULL,
  `longitude_arrivee` decimal(10,7) DEFAULT NULL,
  `telephone_expediteur` varchar(20) DEFAULT NULL,
  `telephone_destinataire` varchar(20) DEFAULT NULL,
  `cash_recupere` decimal(10,2) DEFAULT 0.00 COMMENT 'Montant cash r├Ücup├Ür├Ü',
  `frais_service` decimal(10,2) DEFAULT 0.00 COMMENT 'Frais de service',
  `commission_suzosky` decimal(10,2) DEFAULT 0.00 COMMENT 'Commission Suzosky',
  `gain_coursier` decimal(10,2) DEFAULT 0.00 COMMENT 'Gain du coursier',
  `heure_debut` timestamp NULL DEFAULT NULL COMMENT 'Heure de d├®but de la livraison (apr├¿s acceptation)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_commande` (`code_commande`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `idx_code` (`code_commande`),
  KEY `idx_statut` (`statut`),
  KEY `idx_client_telephone` (`client_telephone`),
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_client_business` (`client_business_id`),
  KEY `idx_date` (`created_at`),
  KEY `idx_zone_retrait` (`zone_retrait`),
  KEY `idx_priorite` (`priorite`),
  KEY `client_id` (`client_id`),
  KEY `idx_commandes_date_statut` (`created_at`,`statut`),
  KEY `idx_commandes_coursier_date` (`coursier_id`,`created_at`),
  CONSTRAINT `commandes_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `coursiers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commandes_ibfk_2` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commandes_ibfk_3` FOREIGN KEY (`client_business_id`) REFERENCES `clients_business` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_coursier_stats_after_commande` AFTER UPDATE ON `commandes` FOR EACH ROW BEGIN
    IF NEW.statut = 'livree' AND OLD.statut != 'livree' THEN
        UPDATE coursiers 
        SET total_commandes = total_commandes + 1
        WHERE id = NEW.coursier_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_note_moyenne_coursier` AFTER UPDATE ON `commandes` FOR EACH ROW BEGIN
    IF NEW.note_coursier IS NOT NULL AND NEW.coursier_id IS NOT NULL THEN
        UPDATE coursiers 
        SET note_moyenne = (
            SELECT AVG(note_coursier) 
            FROM commandes 
            WHERE coursier_id = NEW.coursier_id 
            AND note_coursier IS NOT NULL
        )
        WHERE id = NEW.coursier_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
DROP TABLE IF EXISTS `commandes_classiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes_classiques` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) DEFAULT NULL,
  `statut` varchar(32) DEFAULT 'nouvelle',
  `mode_paiement` varchar(32) DEFAULT NULL,
  `prix_estime` decimal(10,2) DEFAULT NULL,
  `pickup_time` datetime DEFAULT NULL,
  `delivered_time` datetime DEFAULT NULL,
  `cash_collected` tinyint(1) DEFAULT 0,
  `cash_amount` decimal(10,2) DEFAULT NULL,
  `date_acceptation` datetime DEFAULT NULL,
  `date_creation` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier` (`coursier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `commandes_coursier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes_coursier` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `client_nom` varchar(100) NOT NULL,
  `client_telephone` varchar(20) NOT NULL,
  `adresse_enlevement` text NOT NULL,
  `adresse_livraison` text NOT NULL,
  `distance` decimal(10,2) DEFAULT 0.00,
  `prix_livraison` decimal(10,2) NOT NULL,
  `description` text DEFAULT NULL,
  `statut` enum('nouvelle','acceptee','en_cours','livree','annulee') DEFAULT 'nouvelle',
  `date_commande` datetime DEFAULT current_timestamp(),
  `date_acceptation` datetime DEFAULT NULL,
  `date_livraison` datetime DEFAULT NULL,
  `type_commande` varchar(50) DEFAULT 'Standard',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier_id` (`coursier_id`),
  KEY `idx_statut` (`statut`),
  KEY `idx_date_commande` (`date_commande`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `commandes_coursiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes_coursiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `coursier_id` int(11) NOT NULL,
  `statut` varchar(32) DEFAULT 'assignee',
  `active` tinyint(1) DEFAULT 0,
  `date_attribution` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_pair` (`commande_id`,`coursier_id`),
  KEY `idx_coursier` (`coursier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `commandes_suzosky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes_suzosky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_commande` varchar(50) NOT NULL,
  `expediteur_nom` varchar(100) DEFAULT NULL,
  `expediteur_tel` varchar(20) DEFAULT NULL,
  `destinataire_nom` varchar(100) DEFAULT NULL,
  `destinataire_tel` varchar(20) DEFAULT NULL,
  `adresse_depart` text DEFAULT NULL,
  `adresse_arrivee` text DEFAULT NULL,
  `prix` decimal(10,2) DEFAULT NULL,
  `status` enum('en_attente','assignee','en_cours','livree','annulee') DEFAULT 'en_attente',
  `coursier_id` int(11) DEFAULT NULL,
  `shipday_order_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `livree_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_commande` (`numero_commande`),
  KEY `coursier_id` (`coursier_id`),
  CONSTRAINT `commandes_suzosky_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `agents_suzosky` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `commandes_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_commande` varchar(20) NOT NULL,
  `client_id` int(11) DEFAULT NULL,
  `client_nom` varchar(100) NOT NULL,
  `client_telephone` varchar(20) NOT NULL,
  `agent_id` int(11) DEFAULT NULL,
  `type_commande` enum('livraison','course','transport') NOT NULL,
  `adresse_depart` text NOT NULL,
  `adresse_arrivee` text NOT NULL,
  `description_colis` text DEFAULT NULL,
  `prix` decimal(10,2) NOT NULL,
  `statut` enum('en_attente','assignee','en_cours','livree','annulee') DEFAULT 'en_attente',
  `date_commande` timestamp NULL DEFAULT current_timestamp(),
  `date_assignation` timestamp NULL DEFAULT NULL,
  `date_livraison` timestamp NULL DEFAULT NULL,
  `interface_source` enum('admin','business','coursier','agent','concierge','mobile') NOT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_commande` (`numero_commande`),
  KEY `client_id` (`client_id`),
  KEY `idx_numero` (`numero_commande`),
  KEY `idx_statut` (`statut`),
  KEY `idx_date` (`date_commande`),
  KEY `idx_agent` (`agent_id`),
  CONSTRAINT `commandes_unified_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients_business_unified` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commandes_unified_ibfk_2` FOREIGN KEY (`agent_id`) REFERENCES `agents_unified` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `comptes_clients_business`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comptes_clients_business` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `nom_entreprise` varchar(150) NOT NULL,
  `nom_contact` varchar(100) NOT NULL,
  `prenom_contact` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `secteur_activite` varchar(100) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `solde` decimal(10,2) DEFAULT 0.00,
  `statut` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `date_creation` datetime DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `admin_createur` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `client_id` (`client_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `comptes_clients_particuliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comptes_clients_particuliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_id` int(11) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `solde` decimal(10,2) DEFAULT 0.00,
  `statut` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `date_inscription` datetime DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `client_id` (`client_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `comptes_coursiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comptes_coursiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `solde` decimal(10,2) DEFAULT 0.00,
  `statut` enum('actif','inactif','suspendu') DEFAULT 'actif',
  `date_creation` datetime DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `coursier_id` (`coursier_id`),
  CONSTRAINT `comptes_coursiers_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `coursiers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1408 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `configuration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuration` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cle` varchar(100) NOT NULL,
  `valeur` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `type` enum('string','integer','decimal','boolean','json') DEFAULT 'string',
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cle` (`cle`),
  KEY `idx_cle` (`cle`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conversations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` enum('client_agent','business_agent','interne','client_coursier') NOT NULL,
  `participant1_type` enum('client','business','coursier','agent') NOT NULL,
  `participant1_id` int(11) NOT NULL,
  `participant2_type` enum('client','business','coursier','agent') NOT NULL,
  `participant2_id` int(11) NOT NULL,
  `commande_id` int(11) DEFAULT NULL,
  `statut` enum('active','fermee','archivee') DEFAULT 'active',
  `derniere_activite` timestamp NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_participants` (`participant1_type`,`participant1_id`,`participant2_type`,`participant2_id`),
  KEY `idx_commande` (`commande_id`),
  KEY `idx_statut` (`statut`),
  CONSTRAINT `conversations_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursier_chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursier_chats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(255) DEFAULT NULL,
  `coursier_matricule` varchar(50) DEFAULT NULL,
  `coursier_name` varchar(255) DEFAULT NULL,
  `coursier_phone` varchar(50) DEFAULT NULL,
  `device_info` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`device_info`)),
  `is_blocked` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `last_activity` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier_chats_activity` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursier_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursier_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `sender_type` enum('coursier','admin') NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier_messages_read` (`is_read`,`sender_type`),
  KEY `fk_coursier_messages_chat` (`chat_id`),
  CONSTRAINT `fk_coursier_messages_chat` FOREIGN KEY (`chat_id`) REFERENCES `coursier_chats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursier_wallet_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursier_wallet_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` varchar(20) NOT NULL,
  `type` enum('credit','debit') NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `description` text DEFAULT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_type` (`type`),
  KEY `idx_date` (`date_creation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `type_coursier` enum('interne','business','partenaire') DEFAULT 'interne',
  `zones_couvertes` text DEFAULT NULL,
  `statut` enum('actif','inactif','suspendu','en_attente') DEFAULT 'en_attente',
  `disponible` tinyint(1) DEFAULT 1,
  `note_moyenne` decimal(3,2) DEFAULT 0.00,
  `total_commandes` int(11) DEFAULT 0,
  `vehicule_type` enum('moto','voiture','velo','pied') DEFAULT 'moto',
  `numero_permis` varchar(50) DEFAULT NULL,
  `cni` varchar(50) DEFAULT NULL,
  `photo_profil` varchar(255) DEFAULT NULL,
  `documents_valides` tinyint(1) DEFAULT 0,
  `password_hash` varchar(255) DEFAULT NULL,
  `derniere_connexion` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `solde_wallet` decimal(10,2) DEFAULT 0.00,
  `delivery_earnings` decimal(10,2) DEFAULT 0.00,
  `credit_balance` decimal(10,2) DEFAULT 0.00,
  `password_plain` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  KEY `idx_telephone` (`telephone`),
  KEY `idx_statut` (`statut`),
  KEY `idx_disponible` (`disponible`),
  KEY `idx_zones` (`zones_couvertes`(100))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursiers_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursiers_stats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `agent_id` int(11) NOT NULL,
  `commandes_total` int(11) DEFAULT 0,
  `commandes_livrees` int(11) DEFAULT 0,
  `commandes_annulees` int(11) DEFAULT 0,
  `temps_moyen_livraison` decimal(5,2) DEFAULT 0.00,
  `note_satisfaction` decimal(3,2) DEFAULT 0.00,
  `temps_en_ligne_minutes` int(11) DEFAULT 0,
  `temps_service_minutes` int(11) DEFAULT 0,
  `dernier_update` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `agent_id` (`agent_id`),
  CONSTRAINT `coursiers_stats_ibfk_1` FOREIGN KEY (`agent_id`) REFERENCES `agents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `coursiers_stats_suzosky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursiers_stats_suzosky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `agent_id` int(11) NOT NULL,
  `commandes_total` int(11) DEFAULT 0,
  `commandes_livrees` int(11) DEFAULT 0,
  `commandes_annulees` int(11) DEFAULT 0,
  `temps_moyen_livraison` decimal(5,2) DEFAULT 0.00,
  `note_satisfaction` decimal(3,2) DEFAULT 0.00,
  `temps_en_ligne_minutes` int(11) DEFAULT 0,
  `temps_service_minutes` int(11) DEFAULT 0,
  `dernier_update` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `agent_id` (`agent_id`),
  CONSTRAINT `coursiers_stats_suzosky_ibfk_1` FOREIGN KEY (`agent_id`) REFERENCES `agents_suzosky` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `delivery_otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery_otps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `attempts` int(11) DEFAULT 0,
  `max_attempts` int(11) DEFAULT 5,
  `expires_at` datetime NOT NULL,
  `generated_at` datetime DEFAULT current_timestamp(),
  `validated_at` datetime DEFAULT NULL,
  `validated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commande_id` (`commande_id`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `delivery_proofs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery_proofs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `type` enum('photo','signature') NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `size_bytes` int(11) DEFAULT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `uploaded_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_commande` (`commande_id`),
  KEY `idx_type` (`type`),
  KEY `idx_uploaded_by` (`uploaded_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `device_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `token` text NOT NULL,
  `platform` varchar(20) DEFAULT 'android',
  `app_version` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_used` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `token_hash` char(64) NOT NULL,
  `last_ping` datetime DEFAULT NULL,
  `device_type` varchar(32) DEFAULT 'mobile',
  `agent_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_token_hash` (`token_hash`),
  UNIQUE KEY `unique_token` (`token`) USING HASH,
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_active` (`is_active`),
  KEY `idx_agent` (`agent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `dispatch_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dispatch_locks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `locked_by` int(11) DEFAULT NULL,
  `status` enum('locked','released','expired') DEFAULT 'locked',
  `ttl_seconds` int(11) DEFAULT 60,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `commande_id` (`commande_id`),
  KEY `idx_locked_by` (`locked_by`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `logs_activites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs_activites` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_activite` varchar(100) NOT NULL,
  `description` text NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `date_activite` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_type` (`type_activite`),
  KEY `idx_date` (`date_activite`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `conversation_id` int(11) NOT NULL,
  `sender_type` enum('client','business','coursier','agent') NOT NULL,
  `sender_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `type_message` enum('text','image','file','location','system') DEFAULT 'text',
  `fichier_url` varchar(255) DEFAULT NULL,
  `lu` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_conversation` (`conversation_id`),
  KEY `idx_sender` (`sender_type`,`sender_id`),
  KEY `idx_date` (`created_at`),
  KEY `idx_lu` (`lu`),
  KEY `idx_messages_conversation_date` (`conversation_id`,`created_at`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `notifications_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) DEFAULT NULL,
  `destinataire_type` enum('client','business','coursier','agent') NOT NULL,
  `destinataire_id` int(11) NOT NULL,
  `destinataire_telephone` varchar(20) DEFAULT NULL,
  `type_notification` enum('nouvelle_commande','commande_acceptee','coursier_en_route','livraison_terminee','bonus','penalite','rappel_paiement','autre') NOT NULL,
  `canal` enum('sms','email','push','whatsapp') NOT NULL,
  `contenu` text NOT NULL,
  `statut` enum('envoye','echec','en_attente') DEFAULT 'en_attente',
  `reference_externe` varchar(100) DEFAULT NULL,
  `cout` decimal(6,4) DEFAULT 0.0000,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_commande` (`commande_id`),
  KEY `idx_destinataire` (`destinataire_type`,`destinataire_id`),
  KEY `idx_type` (`type_notification`),
  KEY `idx_statut` (`statut`),
  KEY `idx_date` (`created_at`),
  CONSTRAINT `notifications_log_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `offres_emploi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offres_emploi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `intitule` varchar(150) NOT NULL,
  `fiche_poste` text NOT NULL,
  `competences_requises` text DEFAULT NULL,
  `type_contrat` enum('cdi','cdd','stage','freelance') NOT NULL,
  `localisation` varchar(100) DEFAULT NULL,
  `salaire_min` decimal(10,2) DEFAULT NULL,
  `salaire_max` decimal(10,2) DEFAULT NULL,
  `date_expiration` date NOT NULL,
  `statut` enum('active','expiree','pourvue','suspendue') DEFAULT 'active',
  `nombre_candidatures` int(11) DEFAULT 0,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_statut` (`statut`),
  KEY `idx_expiration` (`date_expiration`),
  KEY `idx_created_by` (`created_by`),
  CONSTRAINT `offres_emploi_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `agents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `order_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_id` varchar(120) NOT NULL,
  `order_number` varchar(60) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` enum('pending','completed','failed','cancelled') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_id` (`transaction_id`),
  KEY `idx_order_number` (`order_number`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `order_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_status_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `old_status` varchar(50) DEFAULT NULL,
  `new_status` varchar(50) NOT NULL,
  `changed_by` varchar(50) DEFAULT NULL,
  `coursier_id` int(11) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_commande` (`commande_id`),
  KEY `idx_new_status` (`new_status`),
  KEY `idx_coursier` (`coursier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=278 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `parametres_tarification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parametres_tarification` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parametre` varchar(50) NOT NULL,
  `valeur` decimal(10,4) NOT NULL,
  `date_modification` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `parametre` (`parametre`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `payment_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_id` varchar(100) NOT NULL,
  `coursier_id` varchar(20) NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `statut` enum('pending','success','failed','error','cancelled') DEFAULT 'pending',
  `cinetpay_transaction_id` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT current_timestamp(),
  `date_completion` timestamp NULL DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `error_message` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_id` (`transaction_id`),
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_transaction` (`transaction_id`),
  KEY `idx_statut` (`statut`),
  KEY `idx_date` (`date_creation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `payouts_minimal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payouts_minimal` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `period_label` varchar(20) NOT NULL,
  `total_livraisons` int(11) DEFAULT 0,
  `montant_total` decimal(10,2) DEFAULT 0.00,
  `statut` enum('en_attente','pret','paye') DEFAULT 'en_attente',
  `generated_at` datetime DEFAULT current_timestamp(),
  `paid_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_coursier_period` (`coursier_id`,`period_label`),
  KEY `idx_statut` (`statut`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `postes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `description_courte` text DEFAULT NULL,
  `description_complete` text DEFAULT NULL,
  `qualites_requises` text DEFAULT NULL,
  `experience_requise` text DEFAULT NULL,
  `date_expiration` date NOT NULL,
  `statut` enum('actif','inactif') DEFAULT 'actif',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `recharges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recharges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `currency` varchar(10) DEFAULT 'XOF',
  `cinetpay_transaction_id` varchar(255) DEFAULT NULL,
  `status` enum('pending','success','failed') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cinetpay_transaction_id` (`cinetpay_transaction_id`),
  KEY `idx_coursier` (`coursier_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `recharges_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `clients_particuliers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `recharges_coursiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recharges_coursiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `reference_paiement` varchar(100) DEFAULT NULL,
  `statut` enum('en_attente','validee','refusee') DEFAULT 'en_attente',
  `date_demande` datetime DEFAULT current_timestamp(),
  `date_validation` datetime DEFAULT NULL,
  `commentaire_admin` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `coursier_id` (`coursier_id`),
  CONSTRAINT `recharges_coursiers_ibfk_1` FOREIGN KEY (`coursier_id`) REFERENCES `coursiers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `sessions_unified`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions_unified` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(128) NOT NULL,
  `user_type` enum('admin','agent','client','business') NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  `user_identifier` varchar(100) NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `user_agent` text DEFAULT NULL,
  `interface_source` enum('admin','business','coursier','agent','concierge') NOT NULL,
  `login_time` timestamp NULL DEFAULT current_timestamp(),
  `last_activity` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_active` tinyint(1) DEFAULT 1,
  `logout_time` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_user` (`user_type`,`user_id`),
  KEY `idx_activity` (`last_activity`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `support_chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_chats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(255) DEFAULT NULL,
  `user_type` enum('client','business') DEFAULT 'client',
  `username` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `commune` varchar(100) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `device_info` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`device_info`)),
  `is_blocked` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `last_activity` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `client_name` varchar(255) DEFAULT NULL,
  `client_email` varchar(255) DEFAULT NULL,
  `status` enum('active','closed') DEFAULT 'active',
  PRIMARY KEY (`id`),
  KEY `idx_support_chats_activity` (`last_activity`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `support_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chat_id` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `sender_type` enum('user','admin') NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `sender_name` varchar(255) DEFAULT 'Utilisateur',
  `ip_address` varchar(45) DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_support_messages_read` (`is_read`,`sender_type`),
  KEY `fk_support_messages_chat` (`chat_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `system_sync_heartbeats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_sync_heartbeats` (
  `component` varchar(80) NOT NULL,
  `status` varchar(32) NOT NULL DEFAULT 'ok',
  `metrics_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metrics_json`)),
  `last_seen_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`component`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `tarifs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tarifs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `zone` varchar(100) NOT NULL,
  `distance_min` decimal(5,2) NOT NULL,
  `distance_max` decimal(5,2) NOT NULL,
  `prix_base` decimal(10,2) NOT NULL,
  `prix_par_km` decimal(10,2) NOT NULL,
  `actif` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `tracking_coursiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracking_coursiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coursier_id` int(11) NOT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `accuracy` decimal(6,2) DEFAULT NULL,
  `timestamp` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `lat` double DEFAULT NULL,
  `lng` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_coursier_created` (`coursier_id`,`created_at`),
  KEY `idx_coursier_updated` (`coursier_id`,`updated_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2828 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commande_id` int(11) NOT NULL,
  `reference_transaction` varchar(100) NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `type_transaction` enum('paiement','remboursement','commission') NOT NULL,
  `methode_paiement` enum('especes','orange_money','moov_money','mtn_money','wave','carte_visa','carte_mastercard') NOT NULL,
  `statut` enum('pending','success','failed','cancelled') DEFAULT 'pending',
  `reference_externe` varchar(100) DEFAULT NULL,
  `frais_transaction` decimal(8,2) DEFAULT 0.00,
  `details_reponse` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details_reponse`)),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference_transaction` (`reference_transaction`),
  KEY `idx_commande` (`commande_id`),
  KEY `idx_reference` (`reference_transaction`),
  KEY `idx_statut` (`statut`),
  KEY `idx_methode` (`methode_paiement`),
  KEY `idx_transactions_date` (`created_at`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `transactions_financieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions_financieres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` enum('credit','debit') NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `compte_type` enum('coursier','client') NOT NULL,
  `compte_id` int(11) NOT NULL,
  `reference` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `statut` enum('en_attente','reussi','echoue') DEFAULT 'reussi',
  `date_creation` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
DROP TABLE IF EXISTS `view_device_stats`;
/*!50001 DROP VIEW IF EXISTS `view_device_stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_device_stats` AS SELECT
 1 AS `device_id`,
  1 AS `device_model`,
  1 AS `device_brand`,
  1 AS `android_version`,
  1 AS `app_version_code`,
  1 AS `app_version_name`,
  1 AS `last_seen`,
  1 AS `total_sessions`,
  1 AS `crash_count`,
  1 AS `activity_status`,
  1 AS `update_status` */;
SET character_set_client = @saved_cs_client;
DROP TABLE IF EXISTS `vue_commandes_aujourd_hui`;
/*!50001 DROP VIEW IF EXISTS `vue_commandes_aujourd_hui`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_commandes_aujourd_hui` AS SELECT
 1 AS `total_commandes`,
  1 AS `commandes_livrees`,
  1 AS `commandes_annulees`,
  1 AS `revenus_jour`,
  1 AS `temps_moyen_livraison` */;
SET character_set_client = @saved_cs_client;
DROP TABLE IF EXISTS `vue_performance_coursiers`;
/*!50001 DROP VIEW IF EXISTS `vue_performance_coursiers`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_performance_coursiers` AS SELECT
 1 AS `id`,
  1 AS `nom`,
  1 AS `telephone`,
  1 AS `note_moyenne`,
  1 AS `total_commandes`,
  1 AS `commandes_ce_mois`,
  1 AS `livrees_ce_mois`,
  1 AS `taux_reussite`,
  1 AS `revenus_generes` */;
SET character_set_client = @saved_cs_client;

USE `coursier_local`;
/*!50001 DROP VIEW IF EXISTS `view_device_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_device_stats` AS select `d`.`device_id` AS `device_id`,`d`.`device_model` AS `device_model`,`d`.`device_brand` AS `device_brand`,`d`.`android_version` AS `android_version`,`d`.`app_version_code` AS `app_version_code`,`d`.`app_version_name` AS `app_version_name`,`d`.`last_seen` AS `last_seen`,`d`.`total_sessions` AS `total_sessions`,coalesce(`c`.`crash_count`,0) AS `crash_count`,case when `d`.`last_seen` >= current_timestamp() - interval 1 day then 'ACTIVE' when `d`.`last_seen` >= current_timestamp() - interval 7 day then 'INACTIVE' else 'DORMANT' end AS `activity_status`,case when `v`.`version_code` > `d`.`app_version_code` then 'UPDATE_NEEDED' else 'UP_TO_DATE' end AS `update_status` from ((`app_devices` `d` left join (select `app_crashes`.`device_id` AS `device_id`,count(0) AS `crash_count` from `app_crashes` where `app_crashes`.`created_at` >= current_timestamp() - interval 30 day group by `app_crashes`.`device_id`) `c` on(`c`.`device_id` = `d`.`device_id`)) join (select max(`app_versions`.`version_code`) AS `version_code` from `app_versions` where `app_versions`.`is_active` = 1) `v`) where `d`.`is_active` = 1 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!50001 DROP VIEW IF EXISTS `vue_commandes_aujourd_hui`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`conci2547642_1m4twb`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_commandes_aujourd_hui` AS select count(0) AS `total_commandes`,count(case when `coursier_local`.`commandes`.`statut` = 'livree' then 1 end) AS `commandes_livrees`,count(case when `coursier_local`.`commandes`.`statut` = 'annulee' then 1 end) AS `commandes_annulees`,sum(case when `coursier_local`.`commandes`.`statut` = 'livree' then `coursier_local`.`commandes`.`prix_total` else 0 end) AS `revenus_jour`,avg(case when `coursier_local`.`commandes`.`statut` = 'livree' and `coursier_local`.`commandes`.`heure_retrait` is not null and `coursier_local`.`commandes`.`heure_livraison` is not null then timestampdiff(MINUTE,`coursier_local`.`commandes`.`heure_retrait`,`coursier_local`.`commandes`.`heure_livraison`) end) AS `temps_moyen_livraison` from `commandes` where cast(`coursier_local`.`commandes`.`created_at` as date) = curdate() */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!50001 DROP VIEW IF EXISTS `vue_performance_coursiers`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`conci2547642_1m4twb`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_performance_coursiers` AS select `c`.`id` AS `id`,`c`.`nom` AS `nom`,`c`.`telephone` AS `telephone`,`c`.`note_moyenne` AS `note_moyenne`,`c`.`total_commandes` AS `total_commandes`,count(`co`.`id`) AS `commandes_ce_mois`,count(case when `co`.`statut` = 'livree' then 1 end) AS `livrees_ce_mois`,round(count(case when `co`.`statut` = 'livree' then 1 end) * 100.0 / nullif(count(`co`.`id`),0),2) AS `taux_reussite`,sum(case when `co`.`statut` = 'livree' then `co`.`prix_total` else 0 end) AS `revenus_generes` from (`coursiers` `c` left join `commandes` `co` on(`c`.`id` = `co`.`coursier_id` and date_format(`co`.`created_at`,'%Y-%m') = date_format(current_timestamp(),'%Y-%m'))) where `c`.`statut` = 'actif' group by `c`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

